---
import AboutPageShowcase from "../components/about/AboutPageShowcase.astro";
import Giscus from "../components/Giscus.astro";
import { ABOUT_PAGE, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";

const pageTitle = `${ABOUT_PAGE.title} | ${SITE_TITLE}`;
const pageDescription = ABOUT_PAGE.description;
---

<Layout
  title={pageTitle}
  description={pageDescription}
  className="flex min-h-svh max-w-5xl flex-col"
>
  <main>
    <AboutPageShowcase>
      <Giscus pageKey={Astro.url.pathname} pageTitle={pageTitle} />
    </AboutPageShowcase>
  </main>
</Layout>
