---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../lib/utils";

// 获取所有文章并按日期排序，取最新两篇
const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const latestPosts = sortedPosts.slice(0, 2);
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <article>
      <h1>Hej.</h1>
      <p>
        这里是<a href="/about/">Frederick</a
        >的个人站，一个属于自己的小世界。博主闲暇时间有参与开源社区，欢迎在<a
          target="_blank"
          href="https://github.com/fenychn0206">GitHub</a
        >上关注我！
      </p>
      <hr />
    </article>
    <ul class="flex flex-col gap-1.5">
      <b>近期文章</b>
      <div class="space-y-3">
        {
          latestPosts.map((post) => (
            <li>
              <a
                href={`/posts/${post.slug}/`}
                class="group flex justify-between gap-3"
              >
                <span class="group-hover:underline">{post.data.title}</span>
                <span class="text-nowrap text-zinc-500">
                  {formatDate(post.data.date)}
                </span>
              </a>
            </li>
          ))
        }
      </div>
      <li>
        <a
          href="/posts/1/"
          class="text-zinc-500 hover:underline dark:text-zinc-500"
        >
          所有文章 &rarr;
        </a>
      </li>
    </ul>
  </main>
</Layout>
